# Part 1: Credit Card Statement Reconciliation Process

In [1]:
import math
import numpy as np
import pandas as pd
import re

# 1. Understanfing the data

In [2]:
# Import the data 
statements_df=pd.read_csv('data/Card Data (Data Scientist) - Loan Tape corrected.csv')

![](assets/basic_ERD.png)

# 2. Prepare the data

Let's create a new dataframe where currency data is treated as floats and dates are correctly parsed

In [3]:
# Convert currency string values to floats
def apply_currency_check(series: pd.Series, currency_pattern: re.Pattern) -> pd.Series:
    def process_value(x: str) -> [float, pd.NA]:
        if pd.notna(x) and currency_pattern.match(x):
            formated_number = float(
                currency_pattern.match(x).group().replace("$", "").replace(",", "")
            )
        else:
            formated_number = pd.NA
        return formated_number

    return series.apply(process_value)


# time and currency text patterns
date_pattern = re.compile(r"\d{4}-\d{2}-\d{2}$")
datetime_pattern = re.compile(r"\d{4}-\d{2}-\d{2} \d{1,2}:\d{1,2}:\d{1,2}")
currency_pattern = re.compile(r"(-)?\$\d{1,3}(,\d{3})*(\.\d{1,2})?")

# Creates a new dataframe with the data correctly parsed
statements_formatted_df = pd.DataFrame()
for column, series in statements_df.items():
    # Set the headers to lower case and add low dashes in between
    formated_header = f"{column.lower().replace(' ', '_')}"
    dates_check = series.str.match(date_pattern, na=False)
    datetime_check = series.str.match(datetime_pattern, na=False)
    currency_check = series.apply(lambda x: pd.notna(x) and currency_pattern.match(x))

    if dates_check.any():
        statements_formatted_df[formated_header] = pd.to_datetime(
            series, errors="coerce", format="%Y-%m-%d"
        )
    elif datetime_check.any():
        statements_formatted_df[formated_header] = pd.to_datetime(
            series, errors="coerce", format="%Y-%m-%d %H:%M:%S"
        )
    elif currency_check.any():
        statements_formatted_df[formated_header] = apply_currency_check(
            series, currency_pattern
        )
    else:
        statements_formatted_df[formated_header] = series

# Double checks if the data is correctly sorted for the credit card reconciliation process
sort_keys = ["business_id", "statement_start_date"]
statements_formatted_df.sort_values(by=sort_keys, ascending=True, inplace=True)

# 3. Payment date reconcilation

The rules for reconciling a payment date are as follows:
* Examine the balance of the previous transaction. If it is positive and lower than the current statement payment, assign the payment date to the group of statements.
* If both the previous outstanding balance and the current one are lower or equal to zero, no incurred debt exists. Therefore, the payment date is null.
* Mark a group of statement payment dates as 'pending' if there are no more statements to assess the payment_date.
The only missing data needed to accomplish this process is the outstanding balance prior to the first statement. This can be determined by accounting for the first statement's total payments, total purchases, fees, and refunds. For the most part, the result should be zero.

In [4]:
# Shift the outstanding balance down to assess if the banace was paid in full
statements_formatted_df["previous_outstanding_balance"] = (
    statements_formatted_df.groupby("business_id")["outstanding_balance"]
    .shift()
)

In [5]:
# Estimate the last statement outstanding balance by subtracting the aggregated sum from the first outstanding balance
def first_previous_outstanding_balance(statements_formatted_df: pd.DataFrame, out_column:str):
    # Do it for each business
    for _, group in statements_formatted_df.groupby("business_id"):
        index=group.index[0]
        first_row = group.iloc[0]
        # Get values
        domestic_amount=first_row["domestic_amount"]
        international_amount=first_row["international_amount"]
        fee_amount=first_row["fee_amount"]
        total_refunds=first_row["total_refunds"]
        total_payment_collected=first_row["total_payment_collected"]
        outstanding_balance=first_row["outstanding_balance"]
        current_value=first_row[out_column]
        # Compute the last period outstanding balance by subtracting the aggregated of purchases, fees, paymens and refunds. 
        value_to_input = round(outstanding_balance-(
            domestic_amount + international_amount + fee_amount - total_refunds-total_payment_collected), 2
        )
        if pd.isna(current_value):
            statements_formatted_df.loc[index, out_column]=value_to_input
        else:
            statements_formatted_df.loc[index, out_column]+=value_to_input

first_previous_outstanding_balance(statements_formatted_df,"previous_outstanding_balance")

In [6]:
# Reconcile the payments by assessing when the bebt, if any, was paid in full
def reconcile_payment_dates(statements_formatted_df: pd.DataFrame):
    for _, group in statements_formatted_df.groupby("business_id"):
        previous_outstandings = group["previous_outstanding_balance"]
        outstanding_balances = group["outstanding_balance"]
        total_payments = group["total_payment_collected"]
        payment_dates = group["payment_date"]
        payment_dates_reconcile = []
        reconciled_index = -1
        # Loop through the rows of each statement
        for item, (
            prev_outstanding,
            outstanding_balance,
            total_payment,
            payment_date,
        ) in enumerate(
            zip(
                previous_outstandings,
                outstanding_balances,
                total_payments,
                payment_dates,
            )
        ):
            items_to_add = item - reconciled_index if item != 0 else 1
            # If there is a current debt, it has been paid in full and there are no positive balances, then impute the last payment date
            if prev_outstanding <= total_payment and prev_outstanding > 0:
                payment_dates_reconcile.extend([payment_date] * items_to_add)
                reconciled_index = item
            # Mark as NA if no debt was incurred.
            elif (
                prev_outstanding <= 0
                and item != len(previous_outstandings) - 1
                and outstanding_balance <= 0
            ):
                payment_dates_reconcile.extend([pd.NaT] * items_to_add)
                reconciled_index = item
            # Mark as pending if no payments have been made reaching the end of the list
            elif item == (len(previous_outstandings) - 1):
                payment_dates_reconcile.extend(["outstanding"] * items_to_add)
                reconciled_index = item
            # Any other scenario, keep looking for the payment
            else:
                continue
        # Create the column in the given dataframe
        statements_formatted_df.loc[
            group.index, "payment_date_reconcile"
        ] = payment_dates_reconcile


reconcile_payment_dates(statements_formatted_df)

# 4. Identify missed payments

Business logic:
* A payment is considered missed if there is a difference of more than 30 days between the payment_date and statement_end_date.
* Negative values may occur due to prepayment errors.

In [7]:
# Function to compute the number of days between the payment date and the statement end date
def compute_days_past_due(payment_date, statement_end_date):
    if pd.isna(payment_date) or payment_date == "outstanding":
        return pd.NA
    else:
        return (payment_date - statement_end_date).days


# Define a function to check missed payments
def check_missed_payments(past_due_days):
    return pd.notna(past_due_days) and past_due_days > 30 and past_due_days != "outstanding"

In [8]:
# Subtract the reconciled date with the statement end date
statements_formatted_df['days_past_due']=statements_formatted_df.apply(lambda row: compute_days_past_due(row['payment_date_reconcile'], row['statement_end_date']), axis=1)
# Apply the function to create the 'missed_payments' column
statements_formatted_df['missed_payments'] = statements_formatted_df['days_past_due'].apply(check_missed_payments)

# 5. Reconcile transactions and payments

The idea is to sum payments up to the point that the outstanding balance was paid in full, creating a new column named 'total_payment_reconcile.' This will be later useful for forecasting purposes.

In [9]:
# Aggregate the payments and assign it to the corresponding transaction
def reconcile_total_payments(statements_formatted_df: pd.DataFrame, out_column: str):
    statements_formatted_df[out_column] = 0.0
    for _, group in statements_formatted_df.groupby("business_id"):
        # Get a list of the unique payment dates that are in 'payment_date_reconcile'
        payment_dates = pd.to_datetime(
            group["payment_date_reconcile"], errors="coerce", format="%Y-%m-%d %H:%M:%S"
        )
        payment_dates = payment_dates.dropna()
        # Assign paymets, if there are some
        if not payment_dates.empty:
            transaction_index = ~payment_dates.duplicated(keep="last")
            filtered_payment_dates = payment_dates[transaction_index]
            last_day = pd.NaT
            # Loop though the payments and add the totals
            for index, date in filtered_payment_dates.items():
                date_filter = (
                    group["payment_date"] <= date
                    if pd.isna(last_day)
                    else group["payment_date"].between(
                        last_day, date, inclusive="right"
                    )
                )
                total_payment = group.loc[date_filter, "total_payment_collected"].sum()
                statements_formatted_df.loc[index, out_column] = total_payment
                last_day = date

reconcile_total_payments(statements_formatted_df, "total_payment_reconcile")

I've also cross check that the outstanding balances were computed correctly, untill i realize what was really asked.

In [10]:
# Compute each statement balance
statements_formatted_df["statement_balance"] = (
    statements_formatted_df["domestic_amount"]
    + statements_formatted_df["international_amount"]
    + statements_formatted_df["fee_amount"]
    - statements_formatted_df["total_refunds"]
    - statements_formatted_df["total_payment_collected"]
)
# Add to the first element the last term outstanding balance
first_previous_outstanding_balance(statements_formatted_df, "statement_balance")
# Reconcile the outstanding balance by doing the comulative sum over the groups
statements_formatted_df["outstanding_balance_recon"]=statements_formatted_df.groupby('business_id')["statement_balance"].cumsum()
statements_formatted_df["outstanding_balance_recon"]=statements_formatted_df["outstanding_balance_recon"].round(2)
statements_formatted_df["outstanding_balance_error"]=(statements_formatted_df["outstanding_balance_recon"]!=statements_formatted_df["outstanding_balance"])

# 6. Summary report

In [11]:
# Compute the mean but exclude pd.NA and negative numbers
def custom_mean(series:pd.Series)-> float:
    # Replace negative values with zeros
    series = series.apply(lambda x: max(0, x) if pd.notna(x) else x)
    # Exclude pd.NA
    positive_values = series[~series.isna()]
    # Calculate the mean and round up
    average = math.ceil(positive_values.mean()) if not positive_values.empty else None
    return average

In [12]:
# 1.Business ID
business_formatted_df = pd.DataFrame(
    {"business_id": statements_formatted_df["business_id"].unique()}
)
# 2.Overdue payments count
business_formatted_df["overdue_payments"] = (
    statements_formatted_df.groupby("business_id")["missed_payments"]
    .sum()
    .reset_index(drop=True)
)
# 3. Count the number of outstanding payments
outstanding_payments_series=statements_formatted_df[
        statements_formatted_df["payment_date_reconcile"] == "outstanding"
    ].groupby("business_id")["payment_date_reconcile"].value_counts().unstack()["outstanding"].rename("outstanding_payments")
business_formatted_df=pd.merge(business_formatted_df,outstanding_payments_series, how='left',left_on='business_id', right_index=True)
# 3.Average days to pay
business_formatted_df["average_days_payment"] = (
    statements_formatted_df.groupby("business_id")["days_past_due"]
    .apply(custom_mean)
    .reset_index(drop=True)
)

In [13]:
# 5. Days without receiving a payment of an active outstading balance
def get_days_without_payment(statements_formatted_df: pd.DataFrame, business_formatted_df:pd.DataFrame):
    # Filter only rows with 'outstanding' payments
    outstanding_payments_df = statements_formatted_df[statements_formatted_df["payment_date_reconcile"] == 'outstanding']
    # Group by business_id and aggregate the first and last statement_end_date
    agg_result = outstanding_payments_df.groupby("business_id")["statement_end_date"].agg(['first', 'last'])
    # Calculate the days without payment using vectorized operations
    agg_result['outstanding_payment_days'] =agg_result.apply(lambda x: (x['last'] - x['first']).days if (x['last'] != x['first']) else np.nan,axis=1)
    agg_result = agg_result.reset_index()[["business_id", "outstanding_payment_days"]]
    # Merge with business_formatted_df
    merged_df = pd.merge(business_formatted_df, agg_result, how='left', left_on='business_id', right_on='business_id')
    return merged_df

business_formatted_df=get_days_without_payment(statements_formatted_df,business_formatted_df)

In [14]:
# 8. Average credit utilization
outstandings_with_limit =statements_formatted_df ['total_credit_limit'] != 0
# Calculate the division result for each row
statements_formatted_df['avg_credit_utilization'] = statements_formatted_df.loc[outstandings_with_limit,'outstanding_balance_recon']*100 / statements_formatted_df.loc[outstandings_with_limit,'total_credit_limit']
# Calculate the average division result for each group
result_df = statements_formatted_df.groupby('business_id')['avg_credit_utilization'].mean().round(2).reset_index()
result_df['avg_credit_utilization'] = np.maximum(0, result_df['avg_credit_utilization'])
business_formatted_df=pd.merge(business_formatted_df,result_df, how='left',on='business_id')

In [15]:
# 7.Current outstading_balances
business_formatted_df["current_outstanding_balance"] = (
    statements_formatted_df.groupby("business_id")["outstanding_balance_recon"]
    .last()
    .reset_index(drop=True)
)
# Sort the data according to the relevance of the KPIs
sort_keys=['outstanding_payment_days','average_days_payment','overdue_payments']
business_formatted_df.sort_values(by=sort_keys, ascending=False, inplace=True)

In [16]:
business_formatted_df

,business_id,overdue_payments,outstanding_payments,average_days_payment,outstanding_payment_days,avg_credit_utilization,current_outstanding_balance
9,cl8khb2qs11621mx5wkbus530,0,29.0,NaN,196.0,51.42,71663.13
1,cl81puo9y23001kwys64o0gfq,1,7.0,10.0,134.0,16.24,7371.30
8,cl8jb9bog03311lx6vzqbhsrd,0,19.0,2.0,126.0,7.58,218.35
0,cl81p742620381lycqw0xl7sf,1,14.0,9.0,91.0,23.40,4442.14
19,cl9t40tte000by81lrq7xbe5b,0,4.0,1.0,89.0,52.32,79551.83
37,cldbm1m9p000jx91lyp9p0xi8,0,4.0,NaN,89.0,54.07,154723.51
22,clau4nua3000bx31k9eb3kanl,0,3.0,NaN,68.0,33.85,9666.93
16,cl9j0txv00000yk1kgjbjnphe,0,3.0,1.0,61.0,14.97,4676.66
43,cldnwz523000dwu1kegcx699l,0,3.0,NaN,61.0,51.69,19640.73
24,clavkfksj000ex21l5fidbsay,0,2.0,1.0,30.0,17.63,11887.52
35,cld91qig5000cyb1ljcv3lfmd,0,2.0,NaN,30.0,23.32,73648.40
3,cl823ggqb18681nww46j6v2kf,0,2.0,3.0,7.0,1.38,69.84
2,cl81xm5ze01001kx8kg53hob3,29,1.0,23.0,NaN,1.65,0.00
7,cl8af5bmp19891kx3wlkp2825,16,NaN,15.0,NaN,16.62,0.00
40,cldlw7ze60002wz1lpvz2ycqg,1,NaN,12.0,NaN,2.09,45.37
6,cl8978e5209211lxatoukqp7b,2,1.0,9.0,NaN,0.84,756.00
23,clau88h8c000dx31kanana6hr,0,NaN,8.0,NaN,2.96,169.50
20,clag7kqdg0000wz1lqrunref8,0,NaN,7.0,NaN,52.98,74030.26
4,cl83l1qre64701lwuykh8gi0y,0,1.0,5.0,NaN,1.76,0.00
13,cl97amnir000fwx1k932gtt0m,0,1.0,5.0,NaN,0.00,-16013.43
18,cl9rk0p090000ye1kuocy1ylx,0,NaN,4.0,NaN,9.66,4.58
29,clbgum7c1000bwv1kzgv03gt4,0,NaN,4.0,NaN,14.03,7168.15
52,clf19hay0000pyp1l34f12gvg,0,NaN,4.0,NaN,15.13,3218.02
17,cl9q55pl00004yp1mjx78w1jx,0,1.0,3.0,NaN,42.22,3879.82
10,cl8lvxijc17381mx5urxl07oj,0,1.0,2.0,NaN,0.03,0.00
15,cl9g2apl8001fwx1k5uh8q8k3,0,NaN,2.0,NaN,16.39,1225.55
44,cldw4l3f9000cyh1kw1hns704,0,NaN,2.0,NaN,18.06,12022.81
5,cl83libcm71791nx2kmuehklu,0,1.0,1.0,NaN,0.13,0.00
11,cl8w1fo6p15201lvjnfgo7890,0,NaN,1.0,NaN,38.14,1201.25
12,cl969iu5c0000wx1kq8p13ade,0,1.0,1.0,NaN,0.60,0.00
25,clavyy2kx0006yd1lejdb1vsy,0,NaN,1.0,NaN,8.55,547.68
27,clb3wec4y001bx31ke6lqli1l,0,NaN,1.0,NaN,1.94,8485.82
28,clb4gfsde001dx31kuodc8ovs,0,NaN,1.0,NaN,9.63,901.10
33,clcuzknkw000ayb1kv5g215gi,0,NaN,1.0,NaN,0.00,-3798.00
34,clcz7wtp30000y71lixtphy3s,0,NaN,1.0,NaN,55.13,13752.09
38,cldc3ha620000x31kjyvlf6hr,0,NaN,1.0,NaN,17.32,177.50
39,cldjhq4ji0004yk1lg6oectr6,0,1.0,1.0,NaN,67.38,49535.52
48,cleh23ltj000cx91lv46c81ol,0,NaN,1.0,NaN,2.96,519.30
14,cl97ion4y000jwx1klnaw25ve,0,NaN,0.0,NaN,1.69,30.00
21,clajd3m6w0002yb1kwl95cpjp,0,NaN,0.0,NaN,16.51,8477.62
26,clb2kpezb000ux21lkir13et1,0,NaN,0.0,NaN,1.14,43.75
30,clc154o1s0000yg1lgd0n9mqc,0,NaN,0.0,NaN,14.81,364.31
31,clc5insfe0000yj1l6ctuqq1d,0,NaN,0.0,NaN,0.65,785.77
32,clcr4at9t0000yg1lmgfw8l22,0,NaN,0.0,NaN,99.92,10267.06
41,cldnaw5l90008x61ka1k3q2hi,0,NaN,0.0,NaN,16.86,11351.41
45,clebg92bb0002wv1lyj4r05hl,0,NaN,0.0,NaN,0.22,1388.80
36,cldb3vtf9000gx71l4fnrsbbd,0,1.0,NaN,NaN,NaN,1575.00
42,cldnmt2nk0009wu1kperpac0v,0,1.0,NaN,NaN,NaN,535.17
46,cledagrsm000px31k4kv3ixno,0,1.0,NaN,NaN,NaN,4946.00
47,cleg4g41v0008x31ltzq8zbw9,0,1.0,NaN,NaN,NaN,4073.20
49,clen1sesz0000x31ldqoaddso,0,1.0,NaN,NaN,NaN,167.80
50,clenfm7fa0002wz1lmkvdrc1c,0,1.0,NaN,NaN,NaN,8553.52
51,clerlns4w0006ww1lv1jbe5cs,0,1.0,NaN,NaN,NaN,11714.44
53,clf7xjui9001hyp1l9ilqsb1p,0,1.0,NaN,NaN,NaN,321.04
54,clfbfptd0000iwx1mdyea3s9d,0,1.0,NaN,NaN,NaN,1129.40
55,clfxtesft0000yg1ky4wkkpry,0,1.0,NaN,NaN,NaN,30571.32
56,clgs8jagu0000yi1tzvbv7b79,0,1.0,NaN,NaN,NaN,204.99
57,clgv0fpcj0000x51r4o4dvejv,0,1.0,NaN,NaN,NaN,9519.38

# 7. Save the data for part two

In [17]:
statements_formatted_df.to_csv("data/reconciled_card_data.csv", index=False)
business_formatted_df.to_csv("data/business_kpi.csv", index=False)